#mazeCanvas
{
    width:1200px;
    height:800px;
    border: 1px solid black;
}

#mbContainer
{
    display:flex;
}

#maze
{
    flex:auto;
}

#leftbar
{
    flex:auto;
}

.settings li
{
    display:flex;
    padding-right:10px;
}

.settings li label
{
    flex: 1;
}

.settings li input
{
    flex: 2;
}